/* messages.module.css */
.MessageList {
    /* Style the container for the list of messages */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f0f1f9;
    border-radius: 2px;
  }
  
  .Message {
    /* Style individual messages */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #f0f1f9;
  }
  
  .MessageFrom {
    /* Style the sender information */
    font-weight: bold;
    color: #7177a1;
  }
  
  .MessageContent {
    /* Style the message content */
    flex-grow: 1;
    margin-left: 10px;
  }
  
  .MessageTimestamp {
    /* Style the message timestamp */
    font-size: 0.8em;
    color: #a4a9b0;
  }
  
  .SendMessageForm {
    /* Style the form for sending messages */
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .SendMessageInput {
    /* Style the input field for message content */
    flex-grow: 1;
    background: #ffffff;
    border: 1px solid #f0f1f9;
    box-sizing: border-box;
    border-radius: 2px;
    color: #7177a1;
    padding: 10px;
  }
  
  .SendMessageButton {
    /* Style the button to send a message */
    background-color: #EA9937;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 10px;
  }
  